@import "settings"
@import "media-queries"

header
  margin: 0 $margin-small
  display: flex
  justify-content: space-between
  nav
    justify-content: flex-end
    font-size: 1.2em
    margin-top: 33px
    @include desktop
      font-size: 1.6em
      margin-top: 27px
    ul
      padding: 0
      margin: 0
    li
      display: inline-block
      margin-left: 24px
    a
      padding: 2px 4px
