@import "components/css/settings"

a
  color: $light
  text-decoration: none
button
  background-color: $dark
  border-radius: $border-radius
  color: $white
  padding: 12px 32px
  font-size: 1.6em
  &:hover
    background-color: lighten($dark, 4%)

.wrap
  padding: 0 24px
  max-width: 1280px
  margin: 0 auto
  color: $dark
